.clients__title {
  margin-bottom: 30px;
  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
  }
}

.clients__list {
   
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
  @media screen and (min-width:768px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width:1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}


.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}


.clients__link {
  color: $soc-links-color;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      color: $accent-color;
      border-color: $accent-color;
  }
  // @media screen and (min-width:768px) {
  //   width: 226px;
  // }
 
  // @media screen and (min-width:1200px) {
  //   width: 170px;
  // }
}

