.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}


/* LOGO FOOTER*/


.page-footer__logo {
  color: $accent-color;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
      color: $white-color;
  }
}

.page-footer__logo--span {
  color: $white-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
      color: $accent-color;
  }
}


.page-footer__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width:1200px) {
    margin-bottom: 0;
    margin-right: 70px;
    align-items: flex-start;
  }
}

/* ADRESS */



.adress__item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
    @media screen and (min-width:1200px) {
      text-align: start;
    }
}



.adress__link {
  color: $footer-secondary-text-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      color: $accent-color;
  }

}


.adress__link--white {
  color: $white-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      color: $accent-color;
  }
  
}

/* ПРИСОЕДИНЯЙТЕСЬ */

.page-footer__thumb--second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  // justify-content: center;
  @media screen and (min-width:1200px) {
    margin-bottom: 0;
    margin-right: 93px;
  }
  
}

.page-footer__container {
  @media screen and (min-width:1200px) {
  display: flex;
  align-items: baseline;
  }
}


.soc-links-footer {
  display: flex;
}

.page-footer__title {
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $white-color;
margin-bottom: 20px;
}

.soc-links-footer__item {
  display: flex;

  &:not(:last-child) {
      margin-right: 10px;
  }
}


.soc-links-footer__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $white-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      background-color: $accent-color;
  }

}

.soc-links-footer__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}


/* ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.footer-form {
  width: 100%;
}

.page-footer__thumb--third {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width:1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-form__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width:1200px){
    flex-direction: row;
  }
}

.footer-form__input {
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  margin-bottom: 20px;

  color: rgba(255, 255, 255, 0.6);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
      border: 1px solid $accent-color;
  }
  

  &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width:480px) {
    width: 450px;
  }
  @media screen and (min-width:1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}


.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $white-color;
}

.page-footer-wrapper {
  @media screen and (min-width:768px) and (max-width:1199px){
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}