
.order-form__input {
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
height: 40px;
padding-left: 30px;

transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
&:hover {
  border: 1px solid $accent-color;
}
}


.order-form__area {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}


.order-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $primary-text-color;

  &:not(:last-child) {
  margin-bottom: 4px;
}
}

.order-form__label--agree {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}


.order-form__area-comment {
  margin-bottom: 20px;
}

.order-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  border: 1px solid $accent-color;
  }


  &::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  }
}


.order-form__link {
  color: $accent-color;
  text-decoration: underline;
}

.order-form__input:focus + .order-form__icon,
.order-form__input:hover + .order-form__icon {
  fill: $accent-color;
}

.order-form__icon--user {
  width: 12px;
  height: 12px;
  position: absolute;
  position: absolute;
  transform: translateX(15px) translateY(32px);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__icon--phone {
  width: 13px;
  height: 13px;
  position: absolute;
  position: absolute;
  transform: translateX(15px) translateY(32px);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__icon--mail {
  width: 15px;
  height: 12px;
  position: absolute;
  position: absolute;
  transform: translateX(15px) translateY(32px);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.order-form__area-iagree {
  margin-bottom: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order-form__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  display: block;
  height: 100%;
  width: 30px;
  height: 30px;
  transform: translateX(-205px);
}

.order-form__icon-check {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid $secondary-text-color;
  margin-right: 8px;


  .order-form__checkbox-input:checked + & {
  background-color: $accent-color;
  border-color: $accent-color;
  background-image: url(../images/agree.svg);
  background-repeat: no-repeat;
  background-size: 14px 11px;
  background-position: 50% 50%;
  background-origin: border-box;
}
}


