
.page-header {
  border-bottom: 1px solid #ECECEC;
  @media screen and (max-width:767px) {
    padding: 16px 0;
  }
}


.page-header__container{
  @media screen and (min-width:767px) {
    display: flex;
    align-items: center;
    }
}


.page-navigation {
  @media screen and (max-width:767px) {
    position: relative;
    }
  @media screen and (min-width:767px) {
  display: flex;
  align-items: center;
  }
}

.page-navigation__button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 768px) {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 5px;
  }
  @media screen and (min-width: 768px) {
    display: none;
    }
  
  &:hover,  &:focus .page-navigation__icon {
    fill: $accent-color;
  }
}

.page-navigation__icon-close {
  display: none;
}

.page-navigation__button.is-open .page-navigation__icon-close {
  display: block;
}

.page-navigation__button.is-open .page-navigation__icon-burger {
  display: none;
}
.page-navigation__button.is-open .page-navigation__icon {
position: fixed;
top: 20px;
right: 20px;
}

.burger-menu {
  // display: none;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  background-color: $white-color;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

  &.is-open {
    // display: block;
    transform: translateX(0);
  }
}


.burger-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.burger-menu__link {
  font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: $secondary-text-color;

&--current {
  color: $accent-color;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

&:hover, &:focus {
  color: $accent-color;
}
}

.burger-menu__second-list {
  margin-bottom: 64px;
}

.burger-menu__second-item:not(:last-child) {
  margin-bottom: 32px;
}

.burger-menu__second-link--mail {
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: $accent-color;
}

.burger-menu__second-link--tel {
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: $primary-text-color;
}

.burger-menu__soc-list {
  display: flex;
  flex-direction: row;
}

.burger-menu__soc-item {
  &:not(:last-child){
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.burger-menu__soc-link {
  color: $accent-color;
}

.site-nav__link {
  color: $secondary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
  color: $accent-color;
  }

  &--current {
      color: $accent-color;
  }

  &::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  position: absolute;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}


.site-nav__link--current::after {
content: "";
position: absolute;
width: 100%;
height: 4px;
background-color: $accent-color;
bottom: 0;
left: 0;
border-radius: 2px;
}

.site-nav__link:hover.site-nav__link::after {
  background-color: $accent-color;
}

.site-nav__link:focus.site-nav__link::after {
  background-color: $accent-color;
}

.site-nav {
  @media screen and (max-width:767px) {
    display: none;
  }
  @media screen and (min-width:768px) {
    display: flex;
    &__item:not(:last-child) {
      margin-right: 50px;
  }
  }
}



/* AUTH-NAV */

.auth-nav {
  display: flex;
  margin-left: auto;
  @media screen and (max-width:767px) {
    display: none;
  }
  @media screen and (min-width:768px) {
    flex-direction: column;
  }
  @media screen and (min-width:1200px) {
    flex-direction: row;
  }
}

.auth-nav__link {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: $accent-color;
}
}



.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}


.auth-nav__item:last-child {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.auth-nav__item:not(:last-child) {
  @media screen and (min-width: 758px) and (max-width:1200px) {
    margin-bottom: 10px;
  }
}




