
.gallery__filter {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;

  @media screen and (min-width:768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width:768px) {
    justify-content: center;
  }

  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
  }
}

.gallery__item {
  &:not(:last-child){
    margin-right: 8px;
  }

  @media screen and (max-width:767px){
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      margin-bottom: 15px;
    }
  }
}


.gallery__filter-button {
  color: $secondary-text-color;
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      background-color: $accent-color;
      color: $white-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
}



/* GALLERY */


.gallery__grid {
  display: grid;
  gap: 30px;

  @media screen and (min-width: 768px) {
  // display: grid;
  grid-template-columns: 354px 354px;
  // gap: 30px;
  }

  @media screen and (min-width:1200px) {
    // display: grid;
  grid-template-columns: 370px 370px 370px;
  // gap: 30px;
  }
}


.gallery__card {
  background-color: $white-color;
  
  @media screen and (min-width:480px) and (max-width:767px) {
    width: 450px;
    margin: 0 auto;
  }
}


.gallery__name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $secondary-text-color;
  margin-bottom: 4px;
}

.gallery__text-about-project {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.gallery__thumb {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  flex-grow: 1;
}

.gallery__link {
  height: 100%;
  display: flex;
  flex-direction: column;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}


.gallery__overlay {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;


  &::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(33, 150, 243, 0.9);
   transform: translateY(100%);
   

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .gallery__link:hover &::after {
   transform: translateY(0px);
 }

 .gallery__link:focus &::after {
   transform: translateY(0px);
 }
 
}

.gallery__overlay-text {
   position: absolute;
   transform: translateY(295px);

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   
   font-size: 18px;
   line-height: 1.55;
   letter-spacing: 0.03em;
   color: $white-color;

   z-index: 1;

   padding: 63px 24px;


 .gallery__link:hover & {
   transform: translateY(0px);
 }

 .gallery__link:focus & {
   transform: translateY(0px);
 }
}

 


